*{
    margin:0px;
}
body{
    background-color: #5BFA9A;
}
.navbar{
    position: sticky;
    width:auto;
    height: 100px;
    left: 0px;
    top: 0px;
    width: auto;
    background: #000000;
    overflow: auto;
    filter: drop-shadow(0px 4px 4px);
}
.site_icon{
    float: right;
    height: 80px;
    padding-top: 10px;
    padding-right: 30px;
    filter: drop-shadow(0px 2px 2px #5BFA9A);
    
}
.site_icon:hover{
    cursor: pointer;
}
.linkers{
    position:initial;
    width: fit-content;
    height: 50px;
    left: 12px;
    top: 53px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
}
a.linkers{
    text-decoration: none;
}
a.linkers:hover{
    color: #5BFA9A;
    filter: drop-shadow(0px 2px 2px #5BFA9A);
}
#titlepara {
    height: 300px;
    background-image: url(/_justary27_s__portfolio/Aryan_portfolio/Linked_sites/Linked_site_media/about_me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
#title{
    color: #b6ffd3;
    font-size: 70px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 200px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}
h2{
    font-size: 90px;
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 20px;
    font-family: 'Caveat', cursive;
}
#git{
    margin-left: 450px;
}
.profIcons{
    padding-right: 10px;
    transition: transform .7s;
}
.profIcons:hover img{
    transform:scale(1.5);
}
#me2{
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 370px;
    padding-bottom: 50px;
}
#JustAry27{
    font-size: 30px;
    font-family: Satisfy;
    border: 6px solid #000000;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
footer{
    width:auto;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #000000;
    overflow: auto;
}
#contact{
    height: 70px;
    margin-left: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
}
#contact:hover{
    color: #5BFA9A;
}
a.cbtn-change-color{
    text-decoration: none;
    color: #FFFFFF;
}
a.cbtn-change-color:hover{
    color:#5BFA9A;
    filter: drop-shadow(0px 2px 2px 
#5BFA9A);
}
.cbtn{
    background-color: transparent;
    transition: color .15s ease-in-out,background-color  .15s ease-in-out,box-shadow .15s ease-in-out;
}
svg{
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    width: 48px;
    height: 48px;
}
@media screen and (max-width:480px) {
    *{
        margin:0px;
    }
    body{
        background-color: #5BFA9A;
    }
    .navbar{
        position: sticky;
        width:auto;
        height: 50px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        filter: drop-shadow(0px 4px 4px);
    }
    .site_icon{
        float: right;
        height: 40px;
        padding-top: 5px;
        padding-right: 15px;
        filter: drop-shadow(0px 1px 1px #5BFA9A);
        
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 25px;
        left: 6px;
        top: 26.5px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        padding-left: 15px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #5BFA9A;
        filter: drop-shadow(0px 1px 1px #5BFA9A);
    }
    #titlepara {
        height: 150px;
        background-image: url(/_justary27_s__portfolio/Aryan_portfolio/Linked_sites/Linked_site_media/about_me.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
    }
    #title{
        color: #b6ffd3;
        font-size: 35px;
        padding-right: 40px;
        padding-bottom: 5px;
        padding-top: 100px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        text-align: right;
    }
    h2{
        font-size: 45px;
        padding-top: 35px;
        padding-left: 35px;
        padding-bottom: 10px;
        font-family: 'Caveat', cursive;
    }
    #git{
        margin-left: 225px;
    }
    .profIcons{
        padding-right: 5px;
        transition: transform .7s;
    }
    .profIcons:hover img{
        transform:scale(1.5);
    }
    #me2{
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 195px;
        padding-bottom: 25px;
    }
    #JustAry27{
        font-size: 15px;
        font-family: Satisfy;
        border: 3px solid #000000;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    footer{
        width:auto;
        height: 35px;
        left: 0px;
        top: 0px;
        background: #000000;
        overflow: auto;
    }
    #contact{
        height: 35px;
        margin-left: 25px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    #contact:hover{
        color: #5BFA9A;
    }
    a.cbtn-change-color{
        text-decoration: none;
        color: #FFFFFF;
    }
    a.cbtn-change-color:hover{
        color:#5BFA9A;
        filter: drop-shadow(0px 1px 1px 
    #5BFA9A);
    }
    .cbtn{
        background-color: transparent;
        transition: color .15s ease-in-out,background-color  .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    svg{
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
}