*{
    margin:0px;
}
body{
    background-color: #DAFA5B;
}
.navbar{
    position: sticky;
    width:auto;
    height: 100px;
    left: 0px;
    top: 0px;
    width: auto;
    background: #000000;
    overflow: auto;
    filter: drop-shadow(0px 4px 4px);
}
.site_icon{
    float: right;
    height: 80px;
    padding-top: 10px;
    padding-right: 30px;
    filter: drop-shadow(0px 2px 2px #DAFA5B);
}
.site_icon:hover{
    cursor: pointer;
}
.linkers{
    position:initial;
    width: fit-content;
    height: 50px;
    left: 12px;
    top: 53px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
}
a.linkers{
    text-decoration: none;
}
a.linkers:hover{
    color: #DAFA5B;
    filter: drop-shadow(0px 2px 2px #DAFA5B);
}
#titlepara {
    height: 300px;
    background-image: url(/_justary27_s__portfolio/Aryan_portfolio/Linked_sites/Linked_site_media/blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
#title{
    color: #ecffa1;
    font-size: 70px;
    padding-left: 80px;
    padding-bottom: 10px;
    padding-top: 200px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
}
@media screen and (max-width:732px) and (min-width:547px){
    .navbar{
        position: sticky;
        width:auto;
        height: 75px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        z-index: 4;
        filter: drop-shadow(0px 2px 2px);
    }
    .site_icon{
        float: right;
        height: 60px;
        padding-top: 7.5px;
        padding-right: 22.5px;
        filter: drop-shadow(0px 1.5px 1.5px #DAFA5B);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 37.5px;
        left: 9px;
        top: 39.75px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 22.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 22.5px;
        padding-top: 18.75px;
        padding-bottom: 18.75px;
        padding-left: 22.5px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #DAFA5B;
        filter: drop-shadow(0px 1.5px 1.5px #DAFA5B);
    }
}
@media screen and (max-width:480px) {
    *{
        margin:0px;
    }
    body{
        background-color: #DAFA5B;
    }
    .navbar{
        position: sticky;
        width:auto;
        height: 50px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        filter: drop-shadow(0px 4px 4px);
    }
    .site_icon{
        float: right;
        height: 40px;
        padding-top: 5px;
        padding-right: 15px;
        filter: drop-shadow(0px 2px 2px #DAFA5B);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 25px;
        left: 6px;
        top: 26.5px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        padding-left: 15px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #DAFA5B;
        filter: drop-shadow(0px 1px 1px #DAFA5B);
    }
    #titlepara {
        height: 150px;
        background-image: url(/_justary27_s__portfolio/Aryan_portfolio/Linked_sites/Linked_site_media/blog.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
    }
    #title{
        color: #ecffa1;
        font-size: 35px;
        padding-right: 40px;
        padding-bottom: 5px;
        padding-top: 100px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        text-align: right;
    }

}
@media screen and (max-width:547px) and (min-width:480px){
    .navbar{
        position: sticky;
        width:auto;
        height: 62.5px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        z-index: 4;
        filter: drop-shadow(0px 2px 2px);
    }
    .site_icon{
        float: right;
        height: 50px;
        padding-top: 6.25px;
        padding-right: 17.5px;
        filter: drop-shadow(0px 1.25px 1.25px #DAFA5B);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 31.25px;
        left: 7.5px;
        top: 33.125px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 17.5px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 17.5px;
        padding-top: 15.625px;
        padding-bottom: 15.625px;
        padding-left: 17.5px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #DAFA5B;
        filter: drop-shadow(0px 1.25px 1.25px #DAFA5B);
    }
}