/* Reference width is 1263.33px */
*{
    margin:0px;
}
.navbar{
    position: sticky;
    width:auto;
    height: 100px;
    left: 0px;
    top: 0px;
    width: 100vw;
    background: #000000;
    overflow: auto;
    z-index: 4;
    filter: drop-shadow(0px 4px 4px);
}
.site_icon{
    float: right;
    height: 80px;
    padding-top: 10px;
    padding-right: 30px;
    filter: drop-shadow(0px 2px 2px #5BFA9A);
}
.site_icon:hover{
    cursor: pointer;
}
.linkers{
    position:initial;
    width: fit-content;
    height: 50px;
    left: 12px;
    top: 53px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
}
a.linkers{
    text-decoration: none;
}
a.linkers:hover{
    color: #5BFA9A;
    filter: drop-shadow(0px 2px 2px #5BFA9A);
}
.myIdeas{
    background: #C6C5FF;
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 3.16623527vw;
    line-height: 4.59104114vw;
    display: flex;
    align-items: center;
    text-align: left;
    color: #000000;
    padding-left: 2.77045586vw;
    padding-right: 0.894461463vw;
    padding-top: 4.35357349vw;
    border: 6px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.58311763vw;
    height: 31.26657326vw;
}

.myProj{
    background: #FFAFAF;
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 3.16623527vw;
    line-height: 4.59104114vw;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    padding-left: 4.59104114vw;
    padding-right: 5.6200676vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 6px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.58311763vw;
    height: 33.56209383vw;
}

.myBlog{
    background: #DAFA5B;
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 3.16623527vw;
    line-height: 4.59104114vw;
    display: flex;
    align-items: center;
    text-align: left;
    color: #000000;
    padding-left: 4.90766466vw;
    padding-right: 11.47760284vw;
    border: 6px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.58311763vw;
    height: 35.62014676vw;
}
.myInfo{
    background: #5BFA9A;
    font-family: Satisfy;
    font-style: normal;
    font-weight: normal;
    font-size: 3.16623527vw;
    line-height: 4.59104114vw;
    display: flex;
    align-items: center;
    text-align: right;        
    color: #000000;
    border: 6px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.58311763vw;
    padding-left: 8.15305581vw;
    padding-right: 4.35357349vw;
    height: 35.62014676vw;
}
.sec1{
    background: #5BFA9A;
    height: 55.88405246vw;
    width: 100vw;
}

.sec2{
    background: #C6C5FF;
    height: 55.88405246vw;
    width: 100vw;
}

.sec3{
    background: #FFAFAF;
    height: 55.88405246vw;
    width: 100vw;
}

.sec4{
    background: #DAFA5B;
    height: 55.88405246vw;
    width: 100vw;
}

.container1{
    border: 6px;
    border-color: #000000;
    text-align: right;
    float: right;
    height: 35.62014676vw;
    margin-bottom: 9.26123816vw;
    margin-top: 11.00266755vw;
    margin-left: 11.08182343vw;
    margin-right: 3.48285879vw;
    width: 80vw;
}
.container2{
    border: 6px;
    border-color: #000000;
    text-align: left;
    float: left;
    height: 35.62014676vw;
    margin-top: 12.90240871vw;
    margin-bottom: 7.361497vw;
    margin-left: 1.2079235vw;
    margin-right: 6.88656171vw;
    width:80vw
}
.container3{
    border: 6px;
    border-color: #000000;
    text-align: right;
    float: right;
    height: 34.35365265vw;
    margin-left: 16.46442339vw;
    margin-right: 2.13720881vw;
    margin-top: 14.96046164vw;
    margin-bottom: 6.56993818vw;
    width:80vw
}
.container4{
    border: 6px;
    border-color: #000000;
    text-align: left;
    float: left;
    height: 35.62014676vw;
    margin-left: 2.05805292vw;
    margin-right: 12.50662931vw;
    margin-bottom: 9.26123816vw;
    margin-top: 11.00266755vw;
    width:80vw
}
.tcontainer1{
    position:absolute;
    margin-top: 14.448552635vw;
    margin-bottom: 10.44857638vw;
    margin-left: 3.40370291vw;
    background: #000000;
    z-index: 2;
    height: 29.28767622vw;
    width: 15.43539693vw;
    border-radius: 15px;
}
.tinfo{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3.40459224vw;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 29.28767622vw;

    color: #FFFFFF;

    transform: rotate(-90deg);
}
.tcontainer2{
    position:absolute;
    margin-top: 14.448552635vw;
    margin-bottom: 10.44857638vw;
    margin-left: 78.36421219vw;
    background: #000000;
    z-index: 2;
    height: 28.16364687vw;
    width: 9.4987058vw;
    border-radius: 15px;
}
.tinfo2{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3.40459224vw;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 21.295329vw;
    width: 12.295329vw;
    color: #FFFFFF;

    transform: rotate(-90deg);
}
.tcontainer3{
    position:absolute;
    margin-top: 16.38526571vw;
    margin-bottom: 10.44857638vw;
    margin-left: 4.98682055vw;
    background: #000000;
    z-index: 2;
    height: 29.28767622vw;
    width: 15.43539693vw;
    border-radius: 15px;
}
.tinfo3{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3.40459224vw;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 29.28767622vw;

    color: #FFFFFF;

    transform: rotate(-90deg);
}
.tcontainer4{
    position:absolute;
    margin-top: 14.448552635vw;
    margin-bottom: 10.44857638vw;
    margin-left: 77.572764044vw;
    background: #000000;
    z-index: 2;
    height: 29.295329vw;
    width: 12.66494107vw;
    border-radius: 15px;
}
.tinfo4{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3.40459224vw;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 27.295329vw;
    width: 12.295329vw;

    color: #FFFFFF;

    transform: rotate(-90deg);
}
footer{
    width:100vw;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #000000;
    overflow: auto;
}
#contact{
    height: 70px;
    margin-left: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
}
a.proj{
    text-decoration: none;
}
a.cbtn-change-color{
    text-decoration: none;
    color: #FFFFFF;
}
a.cbtn-change-color:hover{
    color:#5BFA9A;
    filter: drop-shadow(0px 2px 2px 
#5BFA9A);
}
.cbtn{
    background-color: transparent;
    transition: color .15s ease-in-out,background-color  .15s ease-in-out,box-shadow .15s ease-in-out;
}
svg{
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    width: 48px;
    height: 48px;
}
@media  screen and (max-width:480px) {
    *{
        margin:0px;
    }
    .navbar{
        position: sticky;
        width:auto;
        height: 50px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        z-index: 4;
        filter: drop-shadow(0px 2px 2px);
    }
    .site_icon{
        float: right;
        height: 40px;
        padding-top: 5px;
        padding-right: 15px;
        filter: drop-shadow(0px 1px 1px #5BFA9A);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 25px;
        left: 6px;
        top: 26.5px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 15px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        padding-left: 15px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #5BFA9A;
        filter: drop-shadow(0px 1px 1px #5BFA9A);
    }
    .myIdeas{
        background: #C6C5FF;
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        /* font-size: 16px; */
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: left;
        color: #000000;
        /* padding-left: 17.5px; */
        /* padding-right: 56.5px; */
        padding-top: 27.5px;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 197.5px;
    }
    
    .myProj{
        background: #FFAFAF;
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        /* font-size: 16px; */
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000000;
        /* padding-left: 29px; */
        /* padding-right: 35.5px; */
        padding-top: 5px;
        padding-bottom: 5px;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 212px;
    }
    
    .myBlog{
        background: #DAFA5B;
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        /* font-size: 16px; */
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: left;
        color: #000000;
        /* padding-left: 31px; */
        /* padding-right: 72.5px; */
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 225px;
    }
    .myInfo{
        background: #5BFA9A;
        font-family: Satisfy;
        font-style: normal;
        font-weight: normal;
        /* font-size: 16px; */
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: right;        
        color: #000000;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        /* padding-left: 52.5px; */
        /* padding-right: 27.5px; */
        height: 225px;
    }
    .sec1{
        background: #5BFA9A;
        height: 352px;
        width: auto;
    }
    
    .sec2{
        background: #C6C5FF;
        height: 352px;
        width: auto;
    }
    
    .sec3{
        background: #FFAFAF;
        height: 352px;
        width: auto;
    }
    
    .sec4{
        background: #DAFA5B;
        height: 352px;
        width: auto;
    }
    
    .container1{
        border: 3px;
        border-color: #000000;
        text-align: right;
        float: right;
        height: 225px;
        margin-bottom: 58.5px;
        margin-top: 69.5px;
        /* margin-left: 70px; */
        /* margin-right: 2px; */
    }
    .container2{
        border: 3px;
        border-color: #000000;
        text-align: left;
        float: left;
        height: 225px;
        margin-top: 81.5px;
        margin-bottom: 46.5px;
        /* margin-left: 19px; */
        /* margin-right: 43.5px; */
    }
    .container3{
        border: 3px;
        border-color: #000000;
        text-align: right;
        float: right;
        height: 217px;
        /* margin-left: 104px; */
        /* margin-right: 13.5px; */
        margin-top: 94.5px;
        margin-bottom: 41.5px;
    }
    .container4{
        border: 3px;
        border-color: #000000;
        text-align: left;
        float: left;
        height: 225px;
        /* margin-left: 13px; */
        /* margin-right: 79px; */
        margin-bottom: 58.5px;
        margin-top: 69.5px;
    }
    .tcontainer1{
        position:absolute;
        margin-top: 91.5px;
        margin-bottom: 66px;
        /* margin-left: 21.5px; */
        /* margin-right: 600.5px; */
        background: #000000;
        z-index: 2;
        height: 185px;
        width: 60px;
        border-radius: 7.5px;
    }
    .tinfo{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 185px;
    
        color: #FFFFFF;
    
        transform: rotate(-90deg);
    }
    .tcontainer2{
        position:absolute;
        margin-top: 91.5px;
        margin-bottom: 66px;
        /* margin-left: 507.5px; */
        /* margin-right: 0px; */
        background: #000000;
        z-index: 2;
        height: 100px;
        width: 60px;
        border-radius: 7.5px;
    }
    .tinfo2{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100px;
        width: 60px;
        color: #FFFFFF;
    
        transform: rotate(-90deg);
    }
    .tcontainer3{
        position:absolute;
        margin-top: 103.5px;
        margin-bottom: 66px;
        /* margin-left: 31.5px; */
        /* margin-right: 600.5px; */
        background: #000000;
        z-index: 2;
        height: 185px;
        width: 60px;
        border-radius: 7.5px;
    }
    .tinfo3{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 185px;
    
        color: #FFFFFF;
    
        transform: rotate(-90deg);
    }
    .tcontainer4{
        position:absolute;
        margin-top: 91.5px;
        margin-bottom: 66px;
        /* margin-left: 490px; */
        /* margin-right: 30px; */
        background: #000000;
        z-index: 2;
        height: 100px;
        width: 60px;
        border-radius: 7.5px;
    }
    .tinfo4{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 21.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100px;
    
        color: #FFFFFF;
    
        transform: rotate(-90deg);
    }
    footer{
        width:100vw;
        height: 35px;
        left: 0px;
        top: 0px;
        background: #000000;
        overflow: auto;
    }
    #contact{
        height: 35px;
        margin-left: 25px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    a.proj{
        text-decoration: none;
    }
    a.cbtn-change-color{
        text-decoration: none;
        color: #FFFFFF;
    }
    a.cbtn-change-color:hover{
        color:#5BFA9A;
        filter: drop-shadow(0px 1px 1px 
    #5BFA9A);
    }
    .cbtn{
        background-color: transparent;
        transition: color .15s ease-in-out,background-color  .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    svg{
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
}
@media screen and (max-width:732px) and (min-width:547px){
    .navbar{
        position: sticky;
        width:auto;
        height: 75px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        z-index: 4;
        filter: drop-shadow(0px 2px 2px);
    }
    .site_icon{
        float: right;
        height: 60px;
        padding-top: 7.5px;
        padding-right: 22.5px;
        filter: drop-shadow(0px 1.5px 1.5px #5BFA9A);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 37.5px;
        left: 9px;
        top: 39.75px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 22.5px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 22.5px;
        padding-top: 18.75px;
        padding-bottom: 18.75px;
        padding-left: 22.5px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #5BFA9A;
        filter: drop-shadow(0px 1.5px 1.5px #5BFA9A);
    }
}
@media screen and (max-width:547px) and (min-width:480px){
    .navbar{
        position: sticky;
        width:auto;
        height: 62.5px;
        left: 0px;
        top: 0px;
        width: auto;
        background: #000000;
        overflow: auto;
        z-index: 4;
        filter: drop-shadow(0px 2px 2px);
    }
    .site_icon{
        float: right;
        height: 50px;
        padding-top: 6.25px;
        padding-right: 17.5px;
        filter: drop-shadow(0px 1.25px 1.25px #5BFA9A);
    }
    .site_icon:hover{
        cursor: pointer;
    }
    .linkers{
        position:initial;
        width: fit-content;
        height: 31.25px;
        left: 7.5px;
        top: 33.125px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border: none;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 17.5px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: #FFFFFF;
        float: left;
        padding-right: 17.5px;
        padding-top: 15.625px;
        padding-bottom: 15.625px;
        padding-left: 17.5px;
    }
    a.linkers{
        text-decoration: none;
    }
    a.linkers:hover{
        color: #5BFA9A;
        filter: drop-shadow(0px 1.25px 1.25px #5BFA9A);
    }
}