body{
    margin: 0;
}
.splash{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#lines{
    z-index: 5;
    position: absolute;
    top: 45%;
    left: 48%;
}
#lines path{
    z-index: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}